In [5]:
import pandas as pd

In [10]:
df = pd.read_excel("arquivo.xlsx")

In [11]:
df.head()

,PDV_RED,Pdv CNPJ,Categoría SKU,Fabricante SKU,Marca SKU,Nome SKU,Código Barras SKU,Preço,abril de 2022
0,SONDA SUP,1937635002983,Snack,PEPSICO,ELMA CHIPS,LANCHINHO SORTIDO 98G,7892840818296,Preço por Unidade R$,11.54
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vendas em valor R$,761.64
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Venda em KG,6.468
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Quantidade de venda,66
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Share SKU Categoria,0.029723

In [37]:
range(len(df['Plataforma']))

range(0, 17161)

In [27]:
df['DataAgregada'] = df['DataAgregada'].fillna(0)
df['Produto'] = df['Produto'].fillna(0) 
df['Sku'] = df['Sku'].fillna(0)

In [13]:
df['Plataforma'] = df['Plataforma'].fillna(0)

In [41]:
for i in range(17160): 
    if df['Sku'][i+1] == 0: 
        df['Sku'][i+1] = df['Sku'][i] 
    else: 
        pass

<ipython-input-41-5e066d47650f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ifood['Sku'][i+1] = ifood['Sku'][i]

In [43]:
ifood.to_excel("arquivo_completo.xlsx", sheet_name = "Base", index = False)